<% title "We are a local family business" %>

<!-- header image & bar start -->

<div class="street_header show-for-medium-up ">

<img data-interchange="[assets/team_header.jpg, (default)], [assets/team_header.jpg, (large)]">
<noscript><img src="assets/team_header.jpg"></noscript>

</div>

<div class="header-bar show-for-medium-up"><h3>About Us</h3></div>

<!-- main grid start -->

<div class="row">

<div class="row show-for-small-only">

    <div class="large-12 columns">
        
        <div class="panel small-header-bar">
        
        <h3>Thompsons Rentals<br/>
        About Us</h3>

        </div>

    </div>

</div>

<div class="row">

    <div class="large-12 columns">
    
        <div class="large-6 columns">
        
            <div class="panel about_us show-for-large-up">
            
            <p><a href="#">Thompson Rentals</a> is a family run business of over 50 years supplying rented appliances; washing machines, tumble driers and dishwashers to valued customers in the Teesside area. We ensure you never have to go without that all important home appliance and will never have to pay expensive repair, delivery and installation fees. As well as all of this, we never charge you until we have delivered the appliance. Many companies require you to sign a contract of a year or more and will charge you a cancellation fee, but here at Thompson Rentals we offer a short term contract with only a one week notice period.</p>

            <p>Simply contact us at Thompson Rentals, where we will arrange an engineer to deliver the appliance to you. All appliances are fully covered and if we can't fix it, we will replace it with another appliance the same day. Here at Thompson Rentals we aren't happy unless you are.</p>
            
            <img class="left show-for-medium-up" src="assets/rent_and_relax.png"><img class="show-for-small-only" src="assets/rent_and_relax.png">

            </div>
            
         <div class="panel about_us small_screen hide-for-large-up">
            
            <p><a href="#">Thompson Rentals</a> is a family run business of over 50 years supplying rented appliances; washing machines, tumble driers and dishwashers to valued customers in the Teesside area. We ensure you never have to go without that all important home appliance and will never have to pay expensive repair, delivery and installation fees. As well as all of this, we never charge you until we have delivered the appliance. Many companies require you to sign a contract of a year or more and will charge you a cancellation fee, but here at Thompson Rentals we offer a short term contract with only a one week notice period.</p>

            <p>Simply contact us at Thompson Rentals, where we will arrange an engineer to deliver the appliance to you. All appliances are fully covered and if we can't fix it, we will replace it with another appliance the same day. Here at Thompson Rentals we aren't happy unless you are.</p>
            
            <img class="left show-for-medium-up" src="assets/rent_and_relax.png"><img class="show-for-small-only" src="assets/rent_and_relax.png">

            </div>
        
        </div>
        
        <div class="large-6 columns">
        
            <div class="panel why">
            
            <div class="why_rent_title">WHY RENT FROM US?</div>
            <div class="rent_reason"><img src="assets/tick.png">No Long-term Contracts</div>
            <div class="rent_reason"><img src="assets/tick.png">Flexible Payment Options</div>
            <div class="rent_reason"><img src="assets/tick.png">Free Parts & Labour</div>
            <div class="rent_reason"><img src="assets/tick.png">Fast & Friendly Service</div>
            <div class="rent_reason"><img src="assets/tick.png">Lifetime Warrantee</div>
            <div class="rent_reason"><img src="assets/tick.png">Local Business</div>
            <div class="rent_reason"><img src="assets/tick.png">No Payment Until Delivery</div>
            <div class="rent_reason"><img src="assets/tick.png">Old Appliances Taken Away Free Of Charge</div>

            </div>
            
            <div class="panel contact_us">
                <div class="blue_title_text">Contact Us</div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Telephone:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">01642 788 123</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Mobile:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">07825 407 607</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Open:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">Mon-Fri 9am - 5pm</div>
                        </div>
                    </div>
                </div>
                
                <%= form_for(@email) do |f| %>
                <%= f.text_field :name, :placeholder => "Name" %>
                <%= f.text_field :phone_number, :placeholder => "Telephone" %>
                <%= f.text_area :message, :placeholder => "Enter Message Here..." %>
                <%= f.submit "send", :class => "btn_blue" %>
                <% end %>                
                
            </div>
            <div class="panel facebook_box show-for-small-up">
            <a href="https://www.facebook.com/pages/Thompsons-Rentals/608118035907131">
            <img src="assets/large_facebook_box_large.jpg"/>
            </a>
            </div>
        
        </div>

    </div>

</div>

</div>

<!-- main grid end -->



