<% title "We Rent Washing Machines, Dryers and Dishwashers in Teesside!" %>

<!-- header image & bar start -->

<div class="street_header show-for-medium-up">

<img data-interchange="[assets/street_header.jpg, (default)], [assets/street_header.jpg, (large)]">
<noscript><img src="assets/street_header.jpg"></noscript>

</div>

<div class="header-bar show-for-medium-up"><h3>Washers, Dryers, Dishwashers</h3></div>

<!-- main grid start -->

<div class="row">

<div class="row show-for-small-only">

    <div class="large-12 columns">
        
        <div class="panel small-header-bar">
        
        <h3>Thompsons Rentals<br/>
        Washers, Dryers, Dishwashers</h3>

        </div>

    </div>

</div>

<div class="row">

    <div class="large-12 columns">
    
        <div class="large-6 columns">
        
            <div class="panel main_price show-for-small-only">
            
            <div class="starting_from">Prices starting from</div>
            
            <div class="price_text">£3.49</div>
            
            <div class="per_week">per week</div>

            </div>
        
            <div class="panel main_price show-for-medium-up">
            
            <div class="starting_from">Prices starting from</div>
            
            <div class="price_text">£3.49</div>
            
            <div class="per_week">per week</div>

            </div>
        
        </div>
        
        <div class="large-6 columns">
        
            <div class="panel why">
            
            <div class="why_rent_title">WHY RENT FROM US?</div>
            <div class="rent_reason"><img src="assets/tick.png">No Long-term Contracts</div>
            <div class="rent_reason"><img src="assets/tick.png">Flexible Payment Options</div>
            <div class="rent_reason"><img src="assets/tick.png">Free Parts & Labour</div>
            <div class="rent_reason"><img src="assets/tick.png">Fast & Friendly Service</div>
            <div class="rent_reason"><img src="assets/tick.png">Lifetime Warrantee</div>
            <div class="rent_reason"><img src="assets/tick.png">Local Business</div>
            <div class="rent_reason"><img src="assets/tick.png">No Payment Until Delivery</div>
            <div class="rent_reason"><img src="assets/tick.png">Old Appliances Taken Away Free Of Charge</div>

            </div>
        
        </div>

    </div>

</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-6 columns">
        
            <!----- How It Works (Large Screen Plus) ----->

            <div class="panel how_it_works show-for-large-up">
                <div class="blue_title_text">HOW IT WORKS</div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">1</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Contact us or leave your details and we will call you back
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">2</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Arrange home visit
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_2.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">3</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Quick decision
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_3.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">4</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Deliver & install
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_4.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">5</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel"><img class="left show-for-medium-up" src="assets/rent_and_relax.png"><img class="show-for-small-only" src="assets/rent_and_relax.png">
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_5.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!----- How It Works (Medium Screen Only) ----->
            
            <div class="panel how_it_works show-for-medium-only">
                <div class="blue_title_text">HOW IT WORKS</div>
                <div class="row">
                    <div class="small-1 columns">
                        <div class="panel"><div class="how_number">1</div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <div class="panel">Contact us or leave your details and we will call you back
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <div class="panel"><img src="assets/how_1.png">
                        </div>
                    </div>
                    <div class="small-1 columns">
                        <div class="panel"><div class="how_number">2</div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <div class="panel">Arrange home visit
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <div class="panel"><img src="assets/how_2.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <div class="panel"><div class="how_number">3</div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <div class="panel">Quick decision
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <div class="panel"><img src="assets/how_3.png">
                        </div>
                    </div>
                    <div class="small-1 columns">
                        <div class="panel"><div class="how_number">4</div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <div class="panel">Deliver & install
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <div class="panel"><img src="assets/how_4.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-1 columns">
                        <div class="panel"><div class="how_number">5</div>
                        </div>
                    </div>
                    <div class="small-2 columns">
                        <div class="panel"><img class="left show-for-medium-up" src="assets/rent_and_relax.png"><img class="show-for-small-only" src="assets/rent_and_relax.png">
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <div class="panel"><img src="assets/how_5.png">
                        </div>
                    </div>
                    <div class="small-6 columns">
                    </div>
                </div>
            </div>
            
            <!------- How It Works (Small Screen) ------>
            
            <div class="panel how_it_works show-for-small-only">
                <div class="blue_title_text">HOW IT WORKS</div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">1</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Contact us or leave your details and we will call you back
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">2</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Arrange home visit
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_2.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">3</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Quick decision
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_3.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">4</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel">Deliver & install
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_4.png">
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-1 columns">
                            <div class="panel"><div class="how_number">5</div>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="panel"><img class="left show-for-medium-up" src="assets/rent_and_relax.png"><img class="show-for-small-only" src="assets/rent_and_relax.png">
                            </div>
                        </div>
                        <div class="large-5 columns">
                            <div class="panel"><img src="assets/how_5.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="panel contact_us">
                <div class="blue_title_text">Contact Us</div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Telephone:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">01642 788 123</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Mobile:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">07825 407 607</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="large-6 columns">
                            <div class="blue_title_text align_left">Open:</div>
                        </div>
                        <div class="large-6 columns">
                            <div class="orange_text_right">Mon-Fri 9am - 5pm</div>
                        </div>
                    </div>
                </div>
                
                <%= form_for(@email) do |f| %>
                <%= f.text_field :name, :placeholder => "Name" %>
                <%= f.text_field :phone_number, :placeholder => "Telephone" %>
                <%= f.text_area :message, :placeholder => "Enter Message Here..." %>
                <%= f.submit "send", :class => "btn_blue" %>
                <% end %>                
                
            </div>
            <div class="panel facebook_box show-for-small-up">
            <a href="https://www.facebook.com/pages/Thompsons-Rentals/608118035907131">
            <img src="assets/large_facebook_box_large.jpg"/>
            </a>
            </div>
        </div>
    </div>
</div>

</div>

<!-- main grid end -->



