<!-- header start -->

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Thompsons Rentals", root_url, :class => "show-for-medium-up" %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <li class=""><%= link_to "Home", root_url %></li>
        <li class=""><%= link_to "About Us", about_us_url %></li>
        
        
      <% if false %>

      <li class="has-dropdown">
        <%= link_to "Price Guide", price_guide_url %>
        <ul class="dropdown">
          <li><%= link_to "Washers Price Guide", price_guide_url(:appliance => "Washer") %></li>
          <li><%= link_to "Dryers Price Guide", price_guide_url(:appliance => "Dryer") %></li>
          <li><%= link_to "Dishwashers Price Guide", price_guide_url(:appliance => "Dishwasher") %></li>
        </ul>
      </li>
      
      <% end %>
      
      
      <li class="has-dropdown">
        <a href="#">Contact Us</a>
        <ul class="dropdown">
          <li><a href="#">Tel: 01642 788123</a></li>
          <li><a href="#">Mobile: 07825 407 607</a></li>
          <li><%= mail_to "Email: enquiries@thompsonsrentals.co.uk", "enquiries@thompsonsrentals.co.uk" %></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Leave Feedback</a>
        <ul class="dropdown">
          <li><%= link_to "Facebook", "https://www.facebook.com/pages/Thompsons-Rentals/608118035907131" %></li>
          <li><%= link_to "Twitter", "http://www.twitter.com/ThompsonsRental" %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<!-- header end -->